#sony {
    height: 10px;
}
.txt-color-white {
    color: #fff;
}
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#returnal {
    max-width: 300px;
}
.listing {
    width: 90%;
    border-radius: 20px;
}
#ps5-big {
    width: 100%;
}
.thumb {
    width: 100%;
}
.jumbotron2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.games img {
    width: 90%;
}
#psplus {
    width: 70%;
}
#psnow {
    width: 70%;
}
.social img {
    width: 90%;
}
#pslogo {
    width: 20%;
}
#sielogo {
    width: 20%;
}
footer ul {
    list-style-type: none;
}